/*  your css code here. If applicable */
nav{
	background-color: #D3D3D3;
	padding: 10px;
}
/* div{
	display: block;
	margin-right: 1rem;
} */
a{
	display: inline;
	margin-right: 1rem;
	list-style: none;
}