/*  your css code here. If applicable */
nav{
	background-color: #D3D3D3;
	padding: 10px;
}
/* div{
	display: block;
	margin-right: 1rem;
} */
li{
	display: inline;
	margin-right: 1rem;
	
}
ul{
	list-style: none;
	 padding: 0; /* Removes default padding */
    margin: 0;
}