/*  your css code here. If applicable */
nav{
	background-color: #D3D3D3;
	padding: 10px;
}
/* div{
	display: block;
	margin-right: 1rem;
} */
li{
	display: flex;
	margin-right: 1rem;
	
}
ul{
	list-style: none;
	 padding: 0; /* Removes default padding */
    margin: 0;
}
.container{
	 width: 100%; /* Or whatever width is required */
    max-width: 1200px; /* Example max width */
    margin: 0 auto; /* Center the container */
	padding: 10px;
	
	background-color: rgb(211, 211, 211);
}